:root {
    --pri: #2D033B;
    --sec: #810CA8;
    --ter: #C147E9;
    --quad: #dac2e2;
    --blue: #00FFFF;
}

@font-face {
    font-family: ask;
    src: url(./AeonikTRIAL-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: ask;
    src: url(./AeonikTRIAL-Light.otf);
    font-weight: 200;
}

@font-face {
    font-family: ask;
    src: url(./AeonikTRIAL-Regular.otf);
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ask;
    color: var(--quad);
}

html,
body {
    height: 100%;
    width: 100%;
}


#main {
    height: 100%;
    width: 100%;
    background-color: var(--pri);

}


section.allelem {
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    position: absolute
}

.elem {
    height: 400px;
    width: 330px;
    background-color: var(--ter);
    border-radius: 30px;
    font-size: 30px;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease;
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2 {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 30px;
}

.elem:active {
    scale: 0.97;
}

.page {
    height: 100%;
    width: 100%;
    background-color: var(--pri);
    padding: 40px;
    font-size: 60px;
    display: none;
    position: absolute;
}

.close {
    position: absolute;
    right: 5%;
    font-size: 30px;
    padding: 10px 18px;
    border-radius: 50px;
    background-color: var(--ter);
    cursor: pointer;
    border: solid 2px white;
    color: rgb(255, 192, 242);
}

i {
    color: rgb(255, 192, 242);
}

.close:active {
    scale: 0.95;
}

.close:hover {
    background-color: red;
    color: white;
}



.page .todo h2 {
    font-size: 70px;
}

.todo .todo-container {
    width: 100%;
    height: 80%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.todo .todo-container .addtask {
    height: 100%;
    width: 30%;
    background-color: #810CA8;
    border-radius: 30px;
}

.todo .todo-container .alltask {
    height: 100%;
    width: 68%;
    background-color: #810CA8;
    border-radius: 30px;
}

.addtask form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.addtask form input#task-input {
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    background-color: var(--ter);
    border-radius: 20px;
    border: none;
    outline: none;
    margin-bottom: 10px
}


.addtask form #textarea {
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    background-color: var(--ter);
    border-radius: 20px;
    border: none;
    outline: none;
    margin-bottom: 10px
}


.todo .todo-container .addtask form button {
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    background-color: var(--ter);
    border-radius: 20px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-weight: 700;
    transition: all ease 0.3s;
    cursor: pointer;

}

.addtask form button:active {
    scale: 0.95;
}


.todo .todo-container .alltask {
    height: 100%;
    width: 68%;
    background-color: #810CA8;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    margin-bottom: 20px;
    overflow: auto;
}

.task {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--ter);
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.task h5 {
    font-size: 25px;
    color: var(--quad);
    display: flex;
    align-items: center;
    gap: 5px;
}

.task h5 span {
    background-color: red;
    color: whitesmoke;
    padding: 3px 4px;
    border-radius: 50px;
    font-size: 10px;
}

.task h5 span.true {
    opacity: 1;
}

.task h5 span.false {
    opacity: 0;
}

.task button {
    padding: 15px 20px;
    font-size: 20px;
    background-color: var(--sec);
    border-radius: 50px;
    border: solid 2px white;
    font-weight: 700;
    transition: all ease 0.3s;
    cursor: pointer;
    font-size: 15px;
}

.task button:hover {
    background-color: rgb(34, 158, 0);
    color: white;
}

.task button:active {
    scale: 0.95;
}

.mark-imp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    margin-bottom: 20px;
    gap: 10px;
}

.mark-imp label {
    font-size: 20px;
    margin-left: 10px;
}

.mark-imp #checkbox,
label:hover {
    cursor: pointer;
}

input::placeholder {
    color: var(--quad);
    font-family: ask;
    font-weight: 700;
}

textarea::placeholder {
    color: var(--quad);
    font-family: ask;
    font-weight: 700;
}

.page.planner h2 {
    font-size: 70px;
}

.page.planner .dayplanner {
    background-color: var(--sec);
    height: 85%;
    width: 100%;
    margin-top: 40px;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}

.page.planner .dayplanner .dayplanner-time {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    width: 49%;
}

.dayplanner .dayplanner-time p {
    position: absolute;
    top: 10%;
    left: .5%;
    font-size: 18px;
}

.dayplanner .dayplanner-time input {
    padding: 20px 40px;
    width: 100%;
    background-color: var(--ter);
    border: none;
    font-size: 25px;
    border-radius: 10px;
    padding-top: 32px;
    outline: none;
}

.page.motivation h2 {
    font-size: 60px;
}

.page.motivation .motivation-container {
    height: 300px;
    width: 50%;
    background-color: var(--sec);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.page.motivation .motivation-container::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--ter);
    border-radius: 50px;
    scale: 1.5;
    z-index: 8;
    filter: blur(70px);
}

.page.motivation .motivation-container .motivation-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: var(--ter);
    border-radius: 30px;
    padding: 15px;
}

.motivation-container .motivation-wrapper .motivation1 {
    background-color: #810CA8;
    padding: 20px;
    border-radius: 20px;
}

.motivation1 h3 {
    font-size: 30px;
    font-weight: 700;
}

.motivation-container .motivation-wrapper .motivation2 {
    margin-top: 5px;
    padding: 10px;
}

.motivation2 h1 {
    font-size: 30px;
    font-weight: 500;
}

.name h3 {
    font-size: 30px;
    font-weight: 500;
    text-align: right;
}

.page.pomodoro{
    position: relative;
}

.page.pomodoro h2 {
    font-size: 65px;
}

.page.pomodoro .pomo-timer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.page.pomodoro .pomo-timer button{
    background-color: var(--ter);
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
}

.page.pomodoro .pomo-timer button:active{
    scale: 0.95;
}

.page.pomodoro .session{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: yellowgreen;
    padding: 15px 30px;
    font-size: 30px;
    border-radius: 15px;
    color: white;
}