:root{
    --pri:#2D033B;
    --sec:#810CA8;
    --ter:#C147E9;
    --quad:#dac2e2;
}

@font-face {
    font-family: ask;
    src: url(./AeonikTRIAL-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: ask;
    src: url(./AeonikTRIAL-Light.otf);
    font-weight: 200;
}
@font-face {
    font-family: ask;
    src: url(./AeonikTRIAL-Regular.otf);
    font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ask;
  color: var(--quad);
}
html,
body {
  height: 100%;
  width: 100%;
}


#main{
    height: 100%;
    width: 100%;
    background-color: var(--pri);
    
}


section.allelem{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top:80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    position: absolute

}

.elem{
    height: 400px;
    width: 330px;
    background-color: var(--ter);
    border-radius: 30px;
    font-size: 30px;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 30px;
}

.elem:active{
    scale: 0.97;
}

.page{
    height: 100%;
    width: 100%;
    background-color: var(--pri);
    padding: 40px;
    font-size: 60px;
    display: none;
    position: absolute;
}

.close{
    position: absolute;
    right: 5%;
    font-size: 30px;
    padding: 10px 18px;
    border-radius: 50px;
    background-color: var(--ter);
    cursor: pointer;
    border: solid 2px white;
    color: rgb(255, 192, 242);
}
i{
    color: rgb(255, 192, 242);
}

.close:active{
    scale: 0.95;
}



.todo h2{
    font-size: 70px;
}

.todo .todo-container{
    width: 100%;
    height: 80%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.todo .todo-container .addtask{
    height: 100%;
    width: 30%;
    background-color:#810CA8;
    border-radius: 30px;
}

.todo .todo-container .alltask{
    height: 100%;
    width: 68%;
    background-color: #810CA8;
    border-radius: 30px;
}

.addtask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    margin-bottom: 20px;
}

.addtask form input{
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    background-color: var(--ter);
    border-radius: 20px;
    border: none;
    outline: none;
    margin-bottom: 10px
}


.addtask form textarea{
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    background-color: var(--ter);
    border-radius: 20px;
    border: none;
    outline: none;
    margin-bottom: 10px
}

.addtask form textarea{
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    background-color: var(--ter);
    border-radius: 20px;
    border: none;
    outline: none;
    margin-bottom: 10px
}

.addtask form button{
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    background-color: var(--ter);
    border-radius: 20px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-weight: 700;
    transition: all ease 0.3s;
}

.addtask form button:active{
    scale: 0.95;
}